<%- include('./partials/head') %>
<%- include('./partials/homenavbar') %>

<div class="container">
  <div class="jumbotron mt-3">
    <h1 class="display-4">Bem vindo</h1>
    <p class="lead">Este é o blog GuiaPress</p>
  </div>
  <hr>
  <% articles.forEach((article) => { %>
    <div class="card my-3">
      <div class="card-header">
        <h2><%= article.title %></h2>
      </div>
      <div class="card-body">
        <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
      </div>
    </div>
  <% }) %>
  <div class="row my-4 mr-2 h3" style="float:right;">
    <a href="/articles/page/2">Mais Posts</a>
  </div>
</div>

<%- include('./partials/foot') %>
