<%- include('../../partials/head.ejs') %> <%-
include('../../partials/navbar.ejs') %>

<div class="container">
  <h2 class="my-2">Usuários</h2>
  <a href="/admin/users/create" class="btn btn-success">Criar Novo Usuário</a>
  <hr />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/foot.ejs') %>
